[mysqld]
datadir=/home/databases/mysql/data
socket=/var/lib/mysql/mysql.sock
user=mysql
wait_timeout=65535
max_allowed_packet=33554432
long_query_time=30
# Disabling symbolic-links is recommended to prevent assorted security risks
#symbolic-links=0
skip-grant-tables
[mysqld_safe]
log-error=/var/log/mysql/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

